<% rooms.each do |room| %>
  <div class="col mb-4">
    <div class="card h-100 shadow">
      <% if room.image.attached? %>
          <%= image_tag room.get_image(300,230), class:'card-img-top', style:"height: 180px; object-fit:contain" %>
      <% else %>
        <%= image_tag "room_image.jpg", class:'card-img-top', style:"height: 180px; object-fit:cover" %>
      <% end %>
      <div class="card-body">
        <h5 class="card-title"><%= link_to room.title, room %></h5>
        <div class="muted-text">
          <%= link_to user_path(room.user.id) do %>
            <%= image_tag room.user.get_profile_image(25,25), class:"rounded-circle icon" %>
            <%= room.user.name %>
          <% end %>
        </div>
        <small class="text-end text-left"><%= room.created_at.strftime('%Y/%m/%d') %></small>
        <div>
          コメント数： <%= room.room_comments.count %>
        </div>
        <div>
          <% if room.public? %>
            <span class="badge bg-success">公開</span>
          <% else %>
            <span class="badge bg-secondary">非公開</span>
          <% end %>
        </div>
        <div class="like-button mt-3">
          <% if current_user.likes.exists?(room: room) %>
            <!-- いいねを外すボタン -->
            <%= button_to room_like_path(room, current_user.likes.find_by(room_id: room.id)), method: :delete, class: "btn btn-danger" do %>
              <i class="fa fa-heart-broken"></i> いいねを取り消す
            <% end %>
          <% else %>
            <!-- いいねするボタン -->
            <%= button_to room_likes_path(room), method: :post, class: "btn btn-success" do %>
              <i class="fa fa-heart"></i> いいねする
            <% end %>
          <% end %>
        </div>
      </div>

      <div class="card-footer text-end d-flex flex-column flex-md-row justify-content-md-end flex-wrap">
        <%= link_to "Show", room_path(room), class: 'btn btn-secondary mx-1 mb-2 mb-md-0 w-100 w-md-auto' %>
        <% if current_user == room.user %>
          <%= link_to "Edit", edit_room_path(room), class: 'btn btn-primary mx-1 mb-2 mb-md-0 w-100 w-md-auto' %>
          <%= link_to "Delete", room_path(room),
          method: :delete, data: { confirm: t('defaults.message.本当に削除しますか') }, class: 'btn btn-danger mx-1 w-100 w-md-auto' %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
