<div class="container">
  <%= render 'layouts/errors', obj: @room %>
  <div class="row row-cols-1 row-cols-md-3 g-4 m-4">
    <% @rooms.each do |room| %>
      <div class="col mb-4">
        <div class="card h-100">
          <% if room.image.attached? %>
            <%= image_tag room.get_image(300,230), class:'card-img-top', style:"height: 180px; object-fit:contain" %>
          <% else %>
            <%= image_tag "room_image.jpg", class:'card-img-top', style:"height: 180px; object-fit:cover" %>
          <% end %>
          <div class="card-body">
            <h5 class="card-title"><%= link_to room.title, room %></h5>
            <div class="muted-text">
              <%= link_to user_path(room.user.id) do %>
                <%= image_tag room.user.get_profile_image(25,25) %>
                <%= room.user.name %>
              <% end %>
            </div>
            <small class="text-end text-left"><%= l(room.created_at, format: :long) %></small>
          </div>
          <div class="card-footer text-end d-md-flex justify-content-md-end">
            <%= link_to "Show", room_path(room), class: 'btn btn-secondary' %>
            <% if current_user ==  room.user %>
              <%= link_to "Edit", edit_room_path(room), class: 'btn btn-primary' %>
              <%= link_to "Delete", room_path(room),
            method: :delete, data: { confirm: t('defaults.message.delete_confirm') }, class: 'btn btn-danger' %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  </div>