<div class="container">
  <div class="row">
    <div class="col-lg-12 order-lg-2 mt-4 text-center">
      <div class="text-center text-light bg-dark">
        <h2><%= @user.name %>
          <span class="mt-3 ml-2">さんのページ</span>
        </h2>
      </div>
      <div class="mt-3">
        <%= image_tag @user.get_profile_image(100,100), class:"rounded-circle" %>
      </div>
      <dev class="text-center">
        <h3 class="font-weight-bold"><%= @user.name %></h3>
      </dev>
      <div class="mt-3">
        <h3>紹介文</h3>
        <div class="row">
          <div class="col-md-12 text-break border border-secondary">
            <%= @user.introduction %>
          </div>
        </div>
        <% unless current_user&.guest? %>
          <% if user_signed_in? && current_user == @user %>
            <%= link_to "編集", edit_user_path, class: "mt-3 btn btn-warning btn-lg btn-block" %>
            <%= link_to "自作部屋", my_rooms_path, class: "mt-3 btn btn-success btn-lg btn-block" %>
            <%= link_to "いいね部屋", liked_rooms_path, class: "mt-3 btn btn-primary btn-lg btn-block" %>
            <%= link_to "退会画面", users_check_path, class: "mt-3 btn btn-danger btn-lg btn-block" %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>